body{
    
}



.Thrallimg{
    width: 30vw;
}

.Garroshimg{
    width: 39vw;
}
.Gorehowlimg{
    display: flex;
    width: 16vw;
    position: relative;
    animation-name: dobas;
    animation-duration:1s ;
    animation-fill-mode: forwards;

}
.verimg{
    display: flex;
    width: 15vw;
    height: 25vw;
    visibility: hidden;
    position: relative;
    animation-name: ver;
    animation-duration:1s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
}

@keyframes dobas {
    0%   { left:-45%; top:10%;}
    100% { transform: rotate(360deg);left:64%;visibility: hidden;}
}
@keyframes ver {
    0% {left: 60%; top: 0%; visibility: visible;}
    100%{left: 60%; top: 0%}
    
}
a:visited{
    color: green;
}

a:hover{
    color: red;
}
.Garrosh{
    display: flex;
    align-items: center;
}
.Thrall{
    display: flex;
}
.hatter{
    background-image: url(13918.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

}

.karakterek{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teljes{
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

